body {
	background-image: url('images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin:0;
	font-family: 'Poppins', sans-serif;
	color:#1d0f1a;
}
.main {
    height: 100vh;
    background: white;
    padding:40px 0;
    max-width: 60%;
    display: flex;
}
.wrapper {
	margin:auto;
	width:100%;
	padding:0 60px;
}
.audios {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
}
h1 {
    font-size: 52px;
    font-weight: 900;
    margin: 0 0 40px;
}
h1 span {
	color:#d9000c;
}
a.audio {
    border: 2px solid #1d0f1a;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: all 300ms ease;
}
a.audio:hover, a.audio.active {
    border: 2px solid #d9000c;
    background-color:#d9000c;
    color:white;
}
@media screen and (max-width: 991px) {
	.main {
	    max-width: 100%;
	    height: auto;
	    min-height: 100vh;
	}	
	.wrapper {
		display: flex;
	    flex-direction: column;
	    align-items: center;
        box-sizing: border-box;
        padding: 0 30px;
	}
	h1 {
	    font-size: 42px;
	    margin: 0 0 30px;
	}
} 
